@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;300;500&display=swap');

:root {
    --white: #fff;
    --light-grey: #d6e2f0;
    --grayish-blue: #7b879d;
    --dark-blue: #1f3251;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
html {
    font-family: 'Outfit', sans-serif;
}
body {
    background: var(--light-grey);
}
.container {
    width: 85%;
    height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box {
    background: var(--white);
    min-width: 280px;
    height: 500px;
    border-radius: 5%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition: all .5s;
}
.qr-code__img {
    width: 280px;
    height: 60%;
    border-radius: 5%;
    transition: all .5s;
}
.qr-code__text {
    width: 280px;
    display: block;
    height: 40%;
}
h2 {
    text-align: center;
    padding-top: 20px;
    color: var(--dark-blue);
}
p {
    text-align: center;
    padding: 20px 10px 30px;
    color: var(--grayish-blue);
}
@media (hover:hover) {

    .qr-code__img:hover {
        width: 100%;
        height: 100%;
        transition: all .5s;
    }
}